body {
    font-family: 'Montserrat', sans-serif;
};

.jumbotron {
    padding-top: 6rem;
    background-color: #D1E8E4;
};

.projects {
    background-color: #D1E8E4;
};

section {
    padding-top: 5rem;
}
